.root,
html,
body {
  height: 100%;
}

body {
  font-family: "Suisse";
  font-size: theme(fontSize.regular);
  color: theme(colors.black);
}

img,
svg {
  height: auto;
  width: 100%;
}

a {
  @apply transition-colors;
  &:hover {
    color: theme(colors.muted);
  }
}

a,
p {
  @apply leading-tight;
}

input:focus-visible {
  outline: none;
  color: theme(colors.primary);
}

::placeholder {
  color: red;
  opacity: 1;
}

::-ms-input-placeholder {
  color: red;
}

::selection {
  background-color: theme(colors.black);
  color: theme(colors.primary);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: theme(colors.primary);
}
