.btn-icon {
  background-color: theme(colors.black);
  color: theme(colors.primary);
  display: flex;
  gap: 2.865vw;
  justify-content: space-between;
  align-items: center;
  padding: 0.677vw 0.938vw;
  @apply transition-colors;

  svg {
    @apply transition-transform;
  }

  &:hover {
    background-color: theme(colors.muted);
    svg {
      transform: translateX(10px);
    }
  }
}

.btn-icon--ghost {
  background-color: transparent;
  border: 1px solid theme(colors.primary);

  &:hover {
    background-color: theme(colors.black);
    border-color: theme(colors.black);
  }
}

.btn-icon--primary {
  background-color: theme(colors.primary);
  border: 1px solid theme(colors.primary);
  color: theme(colors.black);

  svg {
    @apply transition-transform;
    path {
      fill: theme(colors.black);
    }
  }

  &:hover {
    background-color: transparent;
    border-color: theme(colors.primary);
    color: theme(colors.primary);

    svg {
      path {
        fill: theme(colors.primary);
      }
    }
  }
}
